* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 10px ;
  padding: 20px;
  background-color: azure;

}

header button {
  background-color: orange;
  border-radius: 10px;
  border: none;
  padding: 7px;
  cursor: pointer;
  font-weight: bold;
}

#container {
  display: flex;
  justify-content: space-between;
  border: 2px brown solid;
  margin: 10px;
  padding: 25px 10px;
  gap: 10px;
}

.emp-list, #employeeDetails {
  border: solid gray 2px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.formBox {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

#formPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  
}

input {
  width: 90%;
  margin: 5px 0;
  padding: 8px;
  border:outset;
  border-radius: 5px;
}

.hidden {
  display: none;
}