* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 10px ;
  padding: 20px;
  background-color: azure;

}

header button, #saveBtn, #closeBtn, .employee button {
  background-color: orange;
  border-radius: 10px;
  border: none;
  padding: 7px;
  cursor: pointer;
  font-weight: bold;
}

header button:hover {
  transform: scale(0.95);
}


#container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 25px 10px;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  border-radius: 15px;
}

.emp-list, #employeeDetails {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.employee {
  background: white;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 5px gray;
  border-radius: 12px;
}

.employee h2 {
  padding: 5px 0;
  cursor: pointer;
}

.formBox {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

#formPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  
}

input {
  width: 90%;
  margin: 5px 0;
  padding: 8px;
  border:outset;
  border-radius: 5px;
}

.hidden {
  display: none;
}